@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');
* {
    padding: 0%;
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}

.main {
    background-image: url(assets/images/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 70vh;
    position: relative;

}

body {
    background-color: black;
}

main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.7;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 60vw;
    align-items: center;
    height: 62px;
}

nav img {
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;

}

nav button {
    position: relative;
    z-index: 10;

}

div.hero {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 20px;
    padding:0 30px;

}

.hero> :first-child {
    font-weight: bolder;
    font-size: 35px;
    text-align: center;
}

.hero>:nth-child(2) {
    font-weight: 400;
    font-size: 25px;
    text-align: center;
}

.hero>:nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
.separation {
    height: 7px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 20;
}
.btn{
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    background-color: rgba(248,243,243,0.022);
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;

}
.btn-red{
    padding: 7px 65px 8px 14px;
    font-size: 20px;
    border-radius: 4px;
      background-color: red;
      color: white;
}
.btn-red-sm{
    background-color: red;
    color: white;
    }
.hero-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.main input{
    padding: 9px 24px;
    font-size: 12px;
    font-weight: 900;
    border-radius: 4px;
    background-color: rgba(23,23,23,0.7);
    border: 1px solid rgba(230, 223, 223, 0.5);
}
.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}

.secImg{
   position: relative;
}
.secImg img{
width: 35vw;
position: relative;
z-index: 10;
}
.secImg video{
position: absolute;
top: 51px;
right: 0;
}
section.first>div{
    display: flex;
    flex-direction: column;

}
.first > div :first-child{
    font-size: 48px;
    font-weight: bolder;
}
.first > div :nth-child(2){
    font-size: 23px;
    /* font-weight: bolder; */
}
